.footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-image: url("/assets/bg/bg.jpeg");
  background-repeat: repeat;
  box-shadow: 0 -7px 8px 0 rgba(0, 0, 0, 0.49);
}

.footer-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  width: 100%;
  gap: 50px;

}

.footer-column {
  margin: 0 10px;
  color: #e1e1e1;
}

.footer-column h3 {
  font-size: 17px;
  margin-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-column p {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.footer-column a {
  color: #e1e1e1;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-column .material-icons {
  margin-right: 8px;
  color: #e1e1e1;
}

